.DS_Store
generation/venv/
generation/output/
generation/assets/
generation/__pycache__
generation/RENDERS/
test_archive/**
assets/*
__pycache__/
.tmp.driveupload/
.tmp.drivedownload/
~/.Trash/
.Trash/*
.vercel
.vscode/
venv/*
venv/
contract/build/*