@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'YkarRegular';

  /* ... */
  src: local('YkarRegular'), local('YkarRegular'),
      url('/fonts/YkarRegular.woff2') format('woff2'),
      url('/fonts/YkarRegular.woff') format('woff');
  /* ... */
}

@font-face {
  font-family: 'Exo';
  src: local('Exo Regular'), local('Exo-Regular'),
      url('/fonts/Exo-Regular.woff2') format('woff2'),
      url('/fonts/Exo-Regular.woff') format('woff');

}


html {
  scroll-behavior: smooth;
}

/* .bg-primary {
  background-color: #f6d5c0;
  background-attachment: fixed;
  background-size: cover;

} */

.bg-pattern {
  
  background-image:url(/body-top-swirl.svg);
  background-position: bottom;
  background-size: 100%;
  background-repeat: no-repeat;


}


.bg-faq {
  
  background-image: url(/body-bottom-swirl.svg);
  background-attachment: local;
  background-size: inherit;
  background-repeat: no-repeat;
  background-size: 100%;


}

::-moz-selection {
  /* Code for Firefox */
  color: #f4f4f4;
  
}

::selection {
  color: #f4f4f4;
  
}

.element { 
  font-family: 'YkarRegular';
  letter-spacing: 5px;
  
  
 }

@keyframes gradient-animation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

body { 
  font-family: 'Exo';
  font-weight: 300;
  letter-spacing: 0.05em;
  background-image: url(/SandBackground-01.svg);

  background-attachment: fixed;
  background-size: cover;
}

.exo-font {
  font-family: Exo;
  font-weight: black;
  font-weight: 400;
  font-size: large
}



/* visited link */
a.alert:visited {
  color: #2b1812;
}

/* mouse over link */
a.alert:hover {
  color: #7b341e;
  text-decoration: underline;
}

/* selected link */
a.alert:active {
  color: black;
}

#synopsis{
  margin-top: -100px;
  padding-top: 100px;
}

#faq{
  margin-top: -20px;
  padding-top: 20px;
}



