@font-face {
    font-family: 'YkarRegular';
    src: local('Ykar'), local('YkarRegular'),
        url('YkarRegular.woff2') format('woff2'),
        url('YkarRegular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Ykar';
    src: local('Ykar'), local('YkarRegular'),
        url('YkarRegular.woff2') format('woff2'),
        url('YkarRegular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

