@font-face {
    font-family: 'Ykar';

    /* ... */
    src: local('Ykar'), local('YkarRegular'),
        url('YkarRegular.woff2') format('woff2'),
        url('YkarRegular.woff') format('woff');
    /* ... */
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Exo';
    src: local('Exo Regular'), local('Exo-Regular'),
        url('Exo-Regular.woff2') format('woff2'),
        url('Exo-Regular.woff') format('woff');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}
